/* libre franklin fonts */
@import url('https://fonts.googleapis.com/css2!family=Libre+Franklin:wght@400;500;600;700;900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* tinos = imperial font */
@import url('https://fonts.googleapis.com/css2!family=Tinos&display=swap');

/* cheltenham font */
@font-face {
	font-family: 'cheltenham-italic-700';
	src: url(font/cheltenham-italic-700.ttf);
}

@font-face {
	font-family: 'cheltenham-normal-700';
	src: url(font/cheltenham-normal-700.ttf);
}

@font-face {
	font-family: 'cheltenham-normal-500';
	src: url(font/cheltenham-normal-500.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	border: 2px solid red;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

img {
	width: inherit;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
}

/*
!                <<<<<<<<<<<<<<< NAVBAR >>>>>>>>>>>>>>>
! <<<<<<<<<<<<<<<                                      >>>>>>>>>>>>>>>>>
*/

nav {
	border-bottom: 1px solid rgb(0, 0, 0);
	width: inherit;
	height: 43px;
	display: flex;
	justify-content: space-around;
	background-color: white;
	z-index: 3;
	position: fixed;
}

nav > * {
	height: 43px;
	width: 210px;
}

/*
? --------------------------------> Left
*/

.left-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu,
.search {
	width: 17px;
	height: 17px;
}

.cosmos {
	width: 135px;
}

/*
? --------------------------------> Center
*/

.center-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 150px;
	margin-left: 150px;
}

.center-nav a {
	width: 196px;
	height: 26px;
}

/*
? --------------------------------> Right
*/

.right-nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-nav button {
	color: white;
	background-color: rgb(86, 123, 149);
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 11px;
	line-height: 11px;
	border-radius: 3px;
	border-style: solid;
}

.right-nav button:hover {
	background-color: rgb(50, 104, 145);
	cursor: pointer;
}

.right-nav button:nth-child(1) {
	width: 119.25px;
	height: 32px;
}

.right-nav button:nth-child(2) {
	width: 63.41px;
	height: 32px;
	margin-left: 8px;
}

/* !<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*
!                <<<<<<<<<<<<<<< Main >>>>>>>>>>>>>>>
! <<<<<<<<<<<<<<<                                      >>>>>>>>>>>>>>>>>
*/

main {
	border: 5px solid green;
	height: 10067px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main > * {
	width: 600px;
}

/*
? --------------------------------> heading and icons
*/

.heading {
	height: 200px;
	margin-top: 95px;
	display: flex;
	flex-direction: column;
}

.heading h1 {
	height: 96px;
	margin-bottom: 20px;
	font-family: 'cheltenham-italic-700', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
}

.icons {
	height: 32px;
	display: flex;
	justify-content: flex-start;
	padding-top: 20px;
	border-top: 1px solid black;
}

.icons > * {
	background-color: rgb(238, 238, 238);
	border-radius: 50%;
	border: 0;
	cursor: pointer;
}

.icons > *:hover {
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	border: 1px solid black;
}

/* social button <------- */
.single-icon {
	width: 27px;
	height: 27px;
	margin-right: 15px;
}

.single-icon img {
	width: 17px;
	height: 17px;
}

/*
? --------------------------------> 1st main picture
*/
.first-image {
	width: 1200px;
	height: 725px;
	margin-bottom: 43px;
}

.first-image img {
	width: inherit;
}

main figure {
	font-family: 'Tinos', serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: rgb(102, 102, 102);
}

main figure figcaption {
	width: 850px;
	margin: 4px 0;
}

main figure figcaption span {
	font-size: 13px;
	color: #888;
}

/*
? --------------------------------> additional name part below 1st pic
*/

.additional-name {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 10px;
	line-height: 18px;
	font-style: normal;
}

.additional-name-head {
	height: 53px;
	margin-bottom: 35px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	font-style: normal;
}

.additional-name-head span {
	display: block;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	margin-top: 15px;
}

.sign-up-first {
	border-top: 1px solid black;
	padding-top: 12px;
	margin: 25px 0 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sign-up-text {
	width: 495px;
	height: 41px;
	font-family: 'Tinos', serif;
	font-style: italic;
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
}

.sign-up-text span {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	font-style: normal;
}

.sign-up-btn {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	font-style: normal;
	border: 1px solid black;
	border-radius: 2px;
	width: 80px;
	height: 32px;
	padding: 6px 12px 4px 12px;
	background-color: white;
	color: black;
}

.sign-up-btn:hover {
	background-color: black;
	color: white;
}

/*
? --------------------------------> plain texts
*/
p {
	color: rgb(45, 45, 45);
	font-family: 'Tinos', serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
}

/*
? --------------------------------> articles
*/

/*
? --------------------------------> middle subscribe part
*/

.middle-subscribe {
	width: 600px;
	height: 76px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 25px 0;
}

.middle-subscribe p {
	margin: 0;
	padding: 0;
}

.middle-subscribe a {
	margin: 0;
	color: #326891;
	font-weight: 900;
	z-index: 1;
}

.middle-subscribe .double-border {
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	padding: 0;
	margin: 0;
	width: 76px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 264px;
}

/*
? --------------------------------> 2nd main picture (detailed)
*/

.detailed-pic {
	width: 945px;
	height: 752px;
	position: relative;
	margin: 25px;
}

.intro-root .detailed-pic-head h4 {
	font-family: 'cheltenham-normal-700', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

.detailed-pic-head p {
	font-family: 'cheltenham-normal-500', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: rgb(102, 102, 102);
	margin-bottom: 0;
	margin-top: 2px;
}

.description {
	/* border: 5px solid purple; */
	width: 945px;
	height: 576px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	z-index: 1;
	position: absolute;
}

.description p {
	width: 228px;
	height: 120px;
	font-family: sans-serif, Arial, Helvetica;
	font-weight: 100;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 0;
}

.description p span {
	font-weight: 700;
	font-size: 11px;
	line-height: 17px;
	margin-right: 5px;
}

.second-image {
	width: 945px;
	margin: 15px 0;
	position: relative;
}

.detailed-pic .second-image img {
	height: 576px;
}

.detailed-pic .second-image hr {
	width: 8%;
	border: 0.5px solid rgb(26, 26, 26);
	margin: 24px 0 11px 0;
}

/*
? --------------------------------> embedded video
*/

/* .embed-video {
	height: 406px;
} */

.embed-video {
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	width: 600px;
}

.embed-video iframe {
	width: 600px;
	height: 338px;
	border: 0;
}

.embed-video p {
	width: 497px;
	padding-top: 10px;
	font-family: 'Tinos', serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: rgb(102, 102, 102);
}

.embed-video p span {
	font-size: 13px;
	line-height: 5px;
	color: #888;
}

/*
? --------------------------------> 3rd main picture
*/

.third-image {
	width: 720px;
	height: 481px;
	margin: 30px 100px 80px 100px;
}

.third-image figcaption {
	width: 700px;
}

/*
? --------------------------------> comments
*/

.comments {
	height: 100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.comments p {
	color: rgb(102, 102, 102);
	font-family: 'Libre Franklin', sans-serif;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	height: 32px;
}

.comments a {
	color: rgb(102, 102, 102);
	text-decoration: underline;
	font-family: 'Libre Franklin', sans-serif;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.comments .icons {
	padding: 0;
	border: 0;
}

.comments .right-nav {
	display: flex;
	align-items: center;
}

.comments .right-nav button[type='button'] {
	width: 310px;
	height: 34px;
	padding: 5px 0;
}

/* !<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*
!                <<<<<<<<<<<<<<< Aside >>>>>>>>>>>>>>>
! <<<<<<<<<<<<<<<                                      >>>>>>>>>>>>>>>>>
*/
.aside {
	width: 230px;
	height: 321px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	left: 1350px;
	top: 2200px;
}

.aside h5 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	margin-bottom: 2px;
}

.aside .three-picks {
	width: 210px;
	height: 78px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aside .three-picks img {
	width: 75px;
	margin-right: 12px;
}

.aside .three-picks a {
	width: 125px;
	height: 68px;
	color: black;
	text-decoration: none;
	font-family: 'cheltenham-normal-500', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 17px;
}

.black-underline a:hover {
	text-decoration: underline;
}

/* !<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*
!                <<<<<<<<<<<<<<< Between >>>>>>>>>>>>>>>
! <<<<<<<<<<<<<<<                                      >>>>>>>>>>>>>>>>>
*/
/* 
.between {
	border: 5px solid rgb(128, 0, 122);
	height: 1402px;
} */

.between {
	width: 1200px;
	height: 1370px;
	display: flex;
	justify-content: space-between;
}

.between h5 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
}

.between a {
	text-decoration: none;
	color: black;
}

.between .main-1 {
	width: 852px;
	height: 1360px;
}

.between .main-2 {
	width: 318px;
	height: 1360px;
	display: flex;
	flex-direction: column;
}

.main-2-text {
	width: 307px;
	border-top: 1px solid rgb(206, 204, 204);
	font-family: 'cheltenham-normal-500', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-2-text a {
	padding: 20px 0;
}

.between .main-1 .stack-1 {
	height: 351px;
}

.between .main-1 .stack-2 {
	height: 632px;
}

.between .main-1 .stack-3 {
	height: 343px;
}

.between .box-1 {
	border-top: 1px solid black;
	height: 55px;
	margin-top: 20px;
	display: flex;
	align-items: center;
}

/* .between .main-1 .box-1 {
	border-top: 1px solid black;
	height: 55px;
	display: flex;
	align-items: center;
} */

/* .between .main-1 .box-1 h5 {
	border: 1px solid black;
} */

.between .main-1 .box-2 {
	height: 295px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.between .main-1 .bigger-box-2 {
	height: 590px;
}

.between .main-1 .box-2 .small-box {
	width: 272px;
	height: 288px;
	display: flex;
	flex-direction: column;
}

.between .main-1 .box-2 .small-box .three-parts {
	flex-grow: 1;
}

.three-parts p {
	font-family: 'cheltenham-normal-500', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
}

.between .main-1 .stack-1 .box-2 .row-1-borders {
	border: 1px solid rgb(160, 160, 160);
	padding: 10px;
	cursor: pointer;
}

.between .main-1 .stack-1 .box-2 .small-box p {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
}

.between .main-1 .box-2 .small-box .row-1-last p {
	color: #326891;
	font-weight: 900;
}

.between .main-1 .stack-1 .box-2 .small-box p span {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 15px;
	display: block;
}

.between .main-1 .box-2 .small-box .text-under-pic {
	height: 17px;
	display: flex;
	justify-content: flex-end;
}

.between .main-1 .box-2 .small-box .text-under-pic p {
	color: rgb(153, 153, 153);
	font-size: 11px;
	padding-bottom: 5px;
}

.between .main-1 .box-2 .small-box .main-text {
	height: 65px;
}

.between .main-1 .box-2 .small-box .main-text p {
	font-size: 18px;
	line-height: 22px;
}

.between .main-1 .box-2 .small-box .main-text p span {
	font-size: 12px;
	line-height: 16px;
	margin-top: 5px;
	color: rgb(153, 153, 153);
	display: block;
}

.between .main-1 .box-2 .small-box .bigger-part {
	flex-grow: 2;
	height: 181px;
}

.box-2 .small-box .three-parts img {
	width: 272px;
	height: 190px;
}

.between .main-1 .box-2 .small-box .row-1-small-pic {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.box-2 .small-box .row-1-small-pic img {
	width: 90px;
	height: 90px;
}

.between .main-1 .box-2 .small-box .row-1-small-pic button {
	width: 35px;
	height: 35px;
	border: 1px solid black;
	border-radius: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-2 .small-box .row-1-small-pic button img {
	width: 32px;
	height: 32px;
}
/* !<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*
!                <<<<<<<<<<<<<<< Footer >>>>>>>>>>>>>>>
! <<<<<<<<<<<<<<<                                      >>>>>>>>>>>>>>>>>
*/

/* footer {
	border: 5px solid rgb(197, 100, 43);
	height: 510px;
} */

footer {
	width: 1200px;
	height: 443px;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer div * a {
	color: black;
	text-decoration: none;
	font-size: 14px;
}

/*
?--------------------------------> Head of footer
*/
.footer-head {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	padding: 10px 0;
	margin-bottom: 10px;
	height: 44px;
	border-top: 4px double black;
}

footer .footer-head .footer-head-pic {
	width: 184px;
	height: 24px;
}

footer .footer-head a {
	color: rgb(86, 123, 149);
	font-family: 'Libre Franklin', sans-serif;
	font-size: 11px;
	line-height: 14px;
	font-weight: 400;
}

/*! this is annoying line  */

.black-underline a:hover {
	text-decoration: underline;
}

/*
?--------------------------------> Lower part of footer
*/
.lower-footer {
	flex-basis: 100%;
	width: 1200px;
	height: 66px;
	margin: 15px 0;
	padding: 15px 0;
	border-top: 1px solid black;
}

.lower-footer ul {
	display: flex;
	justify-content: space-between;
}

.lower-footer .lower-footer-list li a {
	font-size: 11px;
}

/*
?--------------------------------> Main body of footer
*/
.middle-footer {
	flex-basis: 100%;
	display: flex;
}

/*
Todo -------------> main-footer
*/
.middle-footer .main-footer {
	display: flex;
}

dl {
	width: 197px;
	height: 385px;
}

dt {
	width: 150px;
	height: 25px;
	font-weight: bold;
}

dd {
	width: 150px;
	height: 23px;
}

/*
Todo -------------> side-footer
*/
.middle-footer .side-footer {
	padding-left: 15px;
	border-left: 1px solid gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 197px;
	height: 385px;
}

.middle-footer .side-footer .normal-links a {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 11px;
	width: 150px;
	height: 23px;
	margin: 3px 0;
	display: flex;
	flex-direction: column;
}

.middle-footer .side-footer .bold-links h5 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	height: 25px;
}

.middle-footer .side-footer .bold-links a {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 15px;
	width: 197px;
	height: 23px;
	margin: 3px 0;
	display: inline-block;
	color: black;
}

.middle-footer .side-footer .bold-links a img {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.middle-footer .side-footer .bold-links a:nth-child(1) {
	font-weight: 600;
	font-size: 13px;
}

/* !<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
